## In Pandas , we have Series and DataFrame.

* Series    - 1D datastructure of Pandas, ie, 1 - row.

* DataFrame - 2D datastructure of Pandas, ie, row and column

In [2]:
import pandas as pd

In [3]:
runs = pd.Series([12,34,45])
runs

0    12
1    34
2    45
dtype: int64

In [4]:
type(runs)

pandas.core.series.Series

In [6]:
learners_details = pd.DataFrame({'Fname': ['Antony','Marry'],'Lname': ['Philip','Jose']})
learners_details

    Fname   Lname
0  Antony  Philip
1   Marry    Jose

In [7]:
type(learners_details)

pandas.core.frame.DataFrame